@import "../../scss/all";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 0 0 auto;
  width: 100%;
  padding: 50px 0;
  border-top: 1px solid $colorSecondary;
  background: $colorMain;

  p {
    color: white;
  }
}

.socialMedia {
  svg {
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;

    @media (max-width: em(768)) {
      font-size: 50px;
    }
  }
}

